.a{
	background-color: #00000021;
}
.btn1{
	    background-color: #f5d831;
    margin-left: 36%;
    margin-top: -50%;
}
.btn1 a{
	text-decoration: none;
	color: black;
}
h3{
	color: #f5d831;
}
p{
	color: white;
}
h1{
	color: #f5d831;
}